<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
module configuration file

- this file contains all data which is necessary for the module
- the format of this file is xml-conform.
-->

<!--
*******
MODULE:
*******
module node:
    Contains the module data.
    id:             The id of the module.
    name:           The module name.
    version:        The version number of the module.
    build:          The build number of the module.
    providername:   The name of the provider for the module.
    active:         Is the module active? ("true" or "false")
-->
<module
    id="ibsbase"
    name="Basic Module for IBS"
    version="3.4.0"
    build="#BUILD_NUMBER#"
    providername="kr"
    active="true">

    <description>
        %description
    </description>

    <copyright url="%copyrightURL">
        (c) 1998 - 2008 trinitec IT Solutions &amp; Consulting GmbH. All Rights Reserved.
    </copyright>

    <license key="" url="%licenseURL">
        %licensetext
    </license>

    <update url="%licenseURL" label=""/>

    <!--
    ******************
    FUNCTION HANDLERS:
    ******************
    functionhandlers node:
        Contains all available function handlers.

    functionhandler node (within functionhandlers node):
        id:         The id of the function handler.
        classname:  The fully qualified name of the class which implements the
                    function handler.
        minfunc:    The minimum handled function number.
        maxfunc:    The maximum handled function number.
        replace:    The id of the function handler which is replaced by this
                    one.
    -->
    <functionhandlers>
	    <functionhandler id="ibsbasefunctions" name="IBS Base Functions" classname="ibs.app.IbsFunctionHandler" minfunc="1" maxfunc="999" replace=""/>
    </functionhandlers>
</module>
