<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>

<TITLE>Styles</TITLE>
<SCRIPT LANGUAGE='javascript'>
function loadStyles ()
{
    if (top.browser == "NS40")
    {
        this.document.write ("<LINK REL=STYLESHEET TYPE=\"text/css\" HREF=\"NS40/styleNavBar.css\">");
        this.document.write ("<LINK REL=STYLESHEET TYPE=\"text/css\" HREF=\"NS40/styleMenuBar.css\">");
        this.document.write ("<LINK REL=STYLESHEET TYPE=\"text/css\" HREF=\"NS40/styleHeader.css\">");
        this.document.write ("<LINK REL=STYLESHEET TYPE=\"text/css\" HREF=\"NS40/styleList.css\">");
        this.document.write ("<LINK REL=STYLESHEET TYPE=\"text/css\" HREF=\"NS40/styleSheet.css\">");
        this.document.write ("<LINK REL=STYLESHEET TYPE=\"text/css\" HREF=\"NS40/styleRefs.css\">");
        this.document.write ("<LINK REL=STYLESHEET TYPE=\"text/css\" HREF=\"NS40/styleButtonBar.css\">");
        this.document.write ("<LINK REL=STYLESHEET TYPE=\"text/css\" HREF=\"NS40/styleTabBar.css\">");
        this.document.write ("<LINK REL=STYLESHEET TYPE=\"text/css\" HREF=\"NS40/styleSearch.css\">");
    }
       
} // scriptsLoaded
</SCRIPT>
</HEAD>

<BODY BGCOLOR="WHITE">
<SCRIPT LANGUAGE='javascript'>
     loadStyles ();
</SCRIPT>
&nbsp;
</BODY>
</HTML>
