<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<SCRIPT LANGUAGE="JavaScript">
document.write ('<LINK REL=StyleSheet TYPE="text/css" HREF="' + top.system.browserDir + '/styleLogo.css">');
</SCRIPT>

</HEAD>
<BODY BGCOLOR="#FFFFFF" leftmargin="0" marginwidth="0" topmargin="4" marginheight="4">
<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" WIDTH="100%" HEIGHT="100%">
<TR>
<TD VALIGN="MIDDLE" ALIGN="CENTER" HEIGHT="100%" WIDTH="100%">
    <IMG SRC="images/global/logo.gif" BORDER="0">
<!--
    <DIV CLASS="name">trinitec</DIV>
    <DIV CLASS="ext">IT Solutions & Consulting GmbH</DIV>
-->
</TD>
</TR>
</TABLE>
</BODY>
</HTML>
