<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<SCRIPT LANGUAGE="JavaScript">
document.write ('<LINK REL=StyleSheet TYPE="text/css" HREF="' + top.system.browserDir + '/styleMenuEmpty.css">');
top.tryCall ('top.dropTabBar ()');
</SCRIPT>
</HEAD>
<BODY>
<BR><BR>
<TABLE BORDER="0"><TR><TD>
<I><SCRIPT LANGUAGE="JavaScript">document.write (top.multilang.ibs_ibsbase_scripts_MSG_WELCOME);</SCRIPT></I>
<p>
<SCRIPT LANGUAGE="JavaScript">document.write (top.multilang.ibs_ibsbase_scripts_MSG_CLICKON);</SCRIPT>
<A HREF="javascript:top.scripts.setNavTab ('#CONFVAR.ibsbase.menuPublic#');">
<SCRIPT LANGUAGE="JavaScript">document.write (top.multilang.ibs_ibsbase_scripts_ML_MENU_PUBLIC + '</A>' + top.multilang.ibs_ibsbase_scripts_MSG_MENU_PUBLIC_INFO_POSTFIX + '<P>');</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">document.write (top.multilang.ibs_ibsbase_scripts_MSG_CLICKON);</SCRIPT>
<A HREF="javascript:top.scripts.setNavTab ('#CONFVAR.ibsbase.menuPrivate#');">
<SCRIPT LANGUAGE="JavaScript">document.write (top.multilang.ibs_ibsbase_scripts_ML_MENU_PRIVATE + '</A>' + top.multilang.ibs_ibsbase_scripts_MSG_MENU_PRIVATE_INFO_POSTFIX + '<P>');</SCRIPT>
</TD></TR></TABLE>
<BR><BR>
</BODY>
</HTML>
